@font-face {
  font-family: 'opensans-regular';
  src: url("../fonts/OpenSans-Regular.ttf");
}
/* line 18, ../compass/sass/style.scss */
* {
  margin: 0;
  padding: 0;
  
}

/* line 23, ../compass/sass/style.scss */
body .main-section {
  width: 99.24242%;
  float: left;
  margin-left: 0.37879%;
  margin-right: 0.37879%;
}
/* line 25, ../compass/sass/style.scss */
body .main-section .two-column-grid {
  width: 99.24242%;
  float: left;
  margin-left: 0.37879%;
  margin-right: 0.37879%;
  height: 140px;
  box-shadow: 0 0 6px #d3d3d3;
  position: relative;
  margin-top: 3px;
}
/* line 31, ../compass/sass/style.scss */
body .main-section .two-column-grid p {
  padding: 65px 40px 30px 40px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-align: center; 
}
/* line 38, ../compass/sass/style.scss */
body .main-section .two-column-grid:hover {
  opacity: 0.4;
}

/* line 45, ../compass/sass/style.scss */
body .main-section .baked-breaded-fish {
  background: url("../images/baked-breaded-fish.jpg") no-repeat;
  background-size: cover;
}
/* line 49, ../compass/sass/style.scss */
body .main-section .crispy-fried-prwans {
  background: url("../images/crumb-fried-prawns.jpg") no-repeat;
  background-size: cover;
}
/* line 53, ../compass/sass/style.scss */
body .main-section .goan-prawn-curry {
  background: url("../images/goan-shrimp-curry.jpg") no-repeat;
  background-size: cover;
}
/* line 57, ../compass/sass/style.scss */
body .main-section .grilled-hamour {
  background: url("../images/grilled-hamour.jpg") no-repeat;
  background-size: cover;
}
/* line 61, ../compass/sass/style.scss */
body .main-section .stuffed-squid {
  background: url("../images/stuffed-squid.jpg") no-repeat;
  background-size: cover;
}
/* line 86, ../compass/sass/style.scss */
body .main-section h2 {
  background-color: #BBBA98;
  color: #fff;
  padding: 15px 15px;
  clear: both;
  font-size: 22px;
}
/* line 93, ../compass/sass/style.scss */
body .main-section ul {
  clear: both;
  padding: 30px 20px 30px 40px;
}
/* line 96, ../compass/sass/style.scss */
body .main-section ul li {
  padding-bottom: 4px;
  font-size: 15px;
}
/* line 101, ../compass/sass/style.scss */
body .main-section p {
  padding: 20px;
  line-height: 22px;
  font-size: 15px;
  padding-top: 8px;
}
/*Extra styles for other pages*/
.baked-breaded-fish-image{
  width: 99.24242%;
  float: left;
  margin-left: 0.37879%;
  margin-right: 0.37879%;
  height: 180px;
  background: url("../images/baked-breaded-fish.jpg") no-repeat;
  background-size: 100% 100%;
}
.crispy-fried-prwans-image{
  width: 99.24242%;
  float: left;
  margin-left: 0.37879%;
  margin-right: 0.37879%;
  height: 180px;
  background: url("../images/crumb-fried-prawns.jpg") no-repeat;
  background-size: 100% 100%;
}
.goan-shrimp-curry-image{
  width: 99.24242%;
  float: left;
  margin-left: 0.37879%;
  margin-right: 0.37879%;
  height: 180px;
  background: url("../images/goan-shrimp-curry.jpg") no-repeat;
  background-size: 100% 100%;
}
.grilled-hamour-fish-image{
  width: 99.24242%;
  float: left;
  margin-left: 0.37879%;
  margin-right: 0.37879%;
  height: 180px;
  background: url("../images/grilled-hamour.jpg") no-repeat;
  background-size: 100% 100%;
}
.stuffed-squid-image{
  width: 99.24242%;
  float: left;
  margin-left: 0.37879%;
  margin-right: 0.37879%;
  height: 180px;
  background: url("../images/stuffed-squid.jpg") no-repeat;
  background-size: 100% 100%;
}
h3{
  padding: 10px 20px 0;
}
